::selection {
    color: white;
    background: black;
}

body {
    font-family: 'Open Sans', sans-serif;
}

svg {
    height: 45%;
    right: 12%;
    width: 100%;
    opacity: 0.9;
    position: fixed;
    z-index: -999;
}

#illustration {
    animation: squigglevision 0.5s infinite alternate;
}

@keyframes squigglevision {
    0% {
        filter: url('#sketch-0');
    }
    25% {
        filter: url('#sketch-1');
    }
    50% {
        filter: url('#sketch-2');
    }
    75% {
        filter: url('#sketch-3');
    }
    100% {
        filter: url('#sketch-4');
    }
}

.path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: paint 1s ease-in-out 1s forwards;
}

.path:nth-of-type(2) {
    animation-delay: 2s;
}

@keyframes paint {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}