@media (prefers-color-scheme: light) {
    ::selection {
        color: white;
        background: black;
    }
}

@media (prefers-color-scheme: dark) {
    ::selection {
        color: beige;
        background: darkgoldenrod;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

@keyframes squigglevision {
    0% {
        filter: url('#sketch-0');
    }
    25% {
        filter: url('#sketch-1');
    }
    50% {
        filter: url('#sketch-2');
    }
    75% {
        filter: url('#sketch-3');
    }
    100% {
        filter: url('#sketch-4');
    }
}

.path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: paint 1s ease-in-out 1s forwards;
}

.path:nth-of-type(2) {
    animation-delay: 2s;
}

@keyframes paint {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}
