@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @media (prefers-color-scheme: light) {
        ::selection {
            color: white;
            background: black;
        }
    }

    @media (prefers-color-scheme: dark) {
        ::selection {
            color: beige;
            background: darkgoldenrod;
        }
    }

    body {
        font-family: 'Open Sans', sans-serif;
    }

    .notification {
        color: rgb(15 23 42) !important;
        font-size: 16px !important;
        margin: 1rem !important;
        padding: 0.75rem 1.25rem !important;
        background: white !important;
        border-radius: 10px !important;
        border: 1px solid rgb(209 213 219) !important;
    }
}